.div-lista {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid black;
}
.img-pais {
    width: 40px;
    border: 1px solid black;
    margin-left: 15px;
}
dl {
    width: 50%;
}
dt {
    width: 100%;
    display: flex;
    align-items: center;
}
dd {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: right;
    line-height: 30px;
}
.p-lista {
    font-family: "Trebuchet MS";
    font-size: 16px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.a-titulo-caca {
    font-family: "Trebuchet MS", bold;
    font-size: 20px;
    color: black;
}