.section-content {
    width: 100%;
    padding: 0;
    background-color: black;
}

.section-content:first-child {
    padding-top: calc((9vh + 5vw)/2); 
}

.div-img-capa {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: black;
}

.img-capa-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.div-progress-bar-backgound {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
}
.div-progressbar-content {
    height: 100%;
    width: 0;
    background-color: red;
    transition: 5s linear;
}

.div-image-logo-master {
    position: absolute;
    width: 12vw;
    height: 12vw;
    background-color: var(--color-light-white);
    border: .3vw solid var(--color-background-header);
    border-radius: 7%;
    bottom: -6vw;
    left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo-square {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.non-animation {
    transition: 0s;
}

.title-text-company {
    font-size: 2.3vw;
    font-weight: bold;
    color: white;
    text-align: center;
}
.paragrafo-text-company {
    font-size: 1.5vw;
    margin: 3% 0;
}

.div-content-company {
    padding: 3% 7% 5% 7%;
}

.hr-division {
    height: 5px;
    margin: 0;
    background-color: white;
    border: none;
}

.div-content-product-main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 45vw;
    background-position: center center;
    background-attachment: fixed;
    margin-top: 2%;
}

.div-content-product {
    display: flex;
    align-self: center;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    height: 25vw;
}

.text-content-product {
    width: 60%;
    text-align: center;
}

.img-content-product {
    width: 30%;
    max-height: 55%;
    object-fit: cover;
}

.div-content-product-title {
    display: flex;
    width: 100%;
    height: 10vw;
    padding: 0 7%;
    align-items: center;
}

.span-text-product-content {
    font-size: 1.35vw;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

.div-content-gradient {
    height: 5vw;
    width: 100%;
}
.div-gradient-top {
    background: linear-gradient(to bottom, black 0%, var(--color-WABC) 100%);
}
.div-gradient-bottom {
    background: linear-gradient(to top, black 0%, var(--color-WABC) 100%);
}

.div-products-sale-main {
    padding: 5% 7%;
}

.div-slider-main {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: 25vw;
    overflow: hidden;
    position: relative;
}

.div-arrow-slider {
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    font-size: 2vw;
    color: white;
    z-index: 1;
    cursor:pointer
}

.div-arrow-left {
    background: linear-gradient(to right, black 0%, var(--color-WABC) 100%);
}

.div-arrow-right {
    background: linear-gradient(to left, black 0%, var(--color-WABC) 100%);
}

.ul-slider {
    padding: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    z-index: 0;
    animation-duration: 1.5s;
    position: absolute;
    margin: 0 5%;
    animation-duration: 1.5s;
}

.li-carousel {
    height: 90%;
    width: 20%;
    list-style-type: none;
    border-radius: 5px;
    background-color: white;
}

.ul-active {
    display: flex;
}

.ul-disabled {
    display: none;
}

@keyframes ul-enter-1 {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes ul-enter-2 {
    0% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes ul-back-1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-120%);
        display: none;
    }
}

@keyframes ul-back-2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(120%);
        display: none;
    }
}

.a-li-carousel {
    padding: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}

.a-li-carousel:hover {
    opacity: 0.7;
}

.div-product-sale-text {
    width: 100%;
    height: calc(100% - 11vw);
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.img-li-carousel {
    width: 11vw;
    height: 11vw;
    object-fit: contain;
}

.text-product-sale-price {
    width: 100%;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
}

.text-product-sale-payment {
    font-size: 1vw;
    width: 100%;
    margin: 0;
}

.text-product-sale-title {
    width: 100%;
    font-size: 1vw;
    margin: 0;
}