footer {
    display: flex;
    background-color: #c71c10;
    height: 35vh;
    padding: 0 7%;
}

#img-logo-footer {
    width: 100%
}

.div-footer-column {
    display: flex;
    align-items: center;
}

#footer-column-a {
    width: 12%;
}

#footer-column-b {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 3%;
}

.footer-row {
    width: 100%;
    padding: 0 2%;
}

#footer-row-a {
    display: flex;
    padding-top: 2%;
}

#footer-row-b {
    display: flex;
    align-items: center;
    height: 10%;
    border-top: 2px solid gray;
}

.text-footer-small {
    font-family: "Trebuchet MS";
    font-size: .75vw;
    margin: 0;
}

.a-icon-footer {
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 0 15px 0 1px;
}

.a-icon-footer svg {
    width: 1.3vw;
    height: 1.3vw;
}

.h3-footer {
    font-family: "Trebuchet MS";
    width: 100%;
    font-size: 1.2vw;
    margin-bottom: 20px;
}

.footer-row-info {
    align-items: center;
    width: 100%;
    margin: 0;
}

.footer-row-info:first-child {
    margin-bottom: 20%;
}

.footer-column-row-a {
    width: 20%;
    height: 100%;
    margin-right: 7%;
}

#div-redirect-master {
    display: flex;
}

.div-redirect-company {
    width: 50%;
    display: flex;
    height: min-content;
    flex-wrap: wrap;
}
.a-redirect-company {
    font-family: "Trebuchet MS";
    display: flex;
    align-items: center;
    width: min-content;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-WABC);
    margin-right: 50%;
    text-wrap: nowrap;
    font-size: .8vw;
}

.a-redirect-company:hover {
    border-bottom-color: black;
}

.a-redirect-company svg {
    margin-right: 10px;
    height: 1.1vw;
    width: 1.1vw;
}