#div-product-1 {
    background-image: url(../Img/ASUS-fundo-1.jpg);
}

#div-product-2 {
    background-image: url(../Img/ASUS-fundo-2.jpg);
}

#div-product-3 {
    background-image: url(../Img/ASUS-fundo-3.jpg);
}