#header-div-master {
    background-color: var(--color-background-emphasis);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    width: calc(100% - 30px);
    height: 7vh;

    border-bottom: 2px solid var(--color-border);
}

.header-a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-logo {
    height: 100%;
}

#header-nav-container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5%
}

.nav-option-icon {
    width: 24px;
}

.header-access-counter {
    display: none;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: white;
}

.nav-option-div-master {
    position: relative;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: 1s;
}

.nav-option-div-master:hover > span{
    background-color: #828282;
}

.nav-option-div-master:hover > a > svg > path{
    stroke: var(--color-icons-emphasis);
}

.nav-option-div-master:hover > a > p{
    color: var(--color-text-secondary);
}

.nav-option-a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-option-text {
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: var(--color-text-primary);
    transition: 1s;
}

.nav-option-div-selected {
    position: absolute;
    height: 100%;
    width: 100%;

    bottom: 0;
    right: 0;
    transition: 1s;
}
.svg-icon path {
    stroke: black;
}

.div-selected span {
    background-color: white;
}

.div-selected a p {
    color: var(--color-text-secondary);
}

.premium:hover span {
    background-color: var(--color-premium) !important;
}

.premium:hover a p {
    color: var(--color-text-primary);
}

.premium:hover a svg path {
    stroke: var(--color-icons);
    fill: var(--color-icons);
}
.premium a p {
    color: var(--color-premium);
}

.svg-icons-header path{
    transition: 1s;
    stroke: var(--color-icons);
}

.sgv-premium path {
    stroke: var(--color-premium);
    fill: var(--color-premium);
}

@media only screen and (min-width: 769px) {
    .header-mobile-icons {
        display: none;
    }

    #header-nav-container {
        display: flex;
    }

    .header-access-counter {
        display: flex;
    }
}