:root {
  --background: #3b3b3b;
  --foreground: #171717;
  --font-color-primary: #FFF;
  --background-elements-1: #FFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}
