:root {
    --color-background: #494949;
    --color-background-input: #FFF;
    --color-background-input-focus: #DBDBDB;
    --color-background-emphasis: #151515;
    --color-border: #FFF;
    --color-icons: #FFF;
    --color-icons-emphasis: black;
    --color-text-primary: #FFF;
    --color-text-secondary: black;
    --color-text-input: #787878;
    --color-premium: #613088;
}