#container-cards-master {
    display: flex;
    width: calc(70vw + 20px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 30px;
}

@media only screen and (min-width: 769px) {
    #container-cards-master {
        width: calc(90vw + 40px);
    }
}

@media only screen and (min-width: 1200px) {
    #container-cards-master {
        width: calc(70vw + 40px);
    }
}