header {
    position: absolute;
    z-index: 10;
    left: 0;
    width: calc(12vw - 2px);
    height: 100%;
    background-color: var(--color-background-secondary);
    border-right: 2px solid var(--color-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-img-logo {
    width: 5vw;
    margin-top: 20px;
}

.nav-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-header ul li {
    font-family: "Jomhuria";
    font-size: 2.8vw;
    color: var(--color-text);
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 3.5vh;
}